.contact-page {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.contact-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.contact-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-group {
    margin-bottom: 15px;
}

.contact-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.contact-input[type="text"],
.contact-input[type="email"],
.contact-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-textarea {
    resize: none;
}

.contact-btn-submit {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-btn-submit:hover {
    background-color: #0056b3;
}
