
.box-left {
    display: flex;
    flex-direction: column;
    align-items: center;

    .box-img {
        width: 380px;
        height: 380px;

        img {
            @include coverImage();
            border-radius: .375rem;

        }
    }

    .img-detail {
        margin-top: 12px;
        width: 380px;
        display: flex;
        justify-content: flex-start;

        .img-item {
            width: 56px;
            height: 56px;
            margin-right: auto;
            border-radius: .375rem;
            border: 1px solid #dee2e6;
            overflow: hidden;


            img {
                @include coverImage();
                border-radius: .375rem;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }


    }
}


.box-center {
    .price {
        font-size: 18px;
    }

}


.box-right {
    .avatar-img {
        @include boxImage(48, 48);

        img {
            @include coverImage();
        }
    }

    .flags {
        @include boxImage(28, 20);

        img {
            @include coverImage();
        }
    }

    .icon {
        min-width: 28px;
        text-align: center;
    }
}

.short-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.block-detail {
    margin-top: 20px;

    td {
        &:nth-child(1) {
            width: 200px;
            background-color: var(--bs-tertiary-bg);
        }
    }

    //form bình luận
    .rating-form {
        color: var(--bs-dark-bg-subtle);

        input[type="radio"] {
            display: none;
        }

        .label-custom {
            cursor: pointer;

            &.selected_rating {
                color: rgb(255, 193, 7);
            }
        }

    }

    .dropzone {
        min-height: auto;
        text-align: center;
        cursor: pointer;
        border: 1px dashed #009ef7;
        //background-color: #f1faff;
        border-radius: .475rem !important;

        .dz-message {
            margin: 0;
            display: flex;
            text-align: left;

            .fs-3x {
                font-size: calc(1.425rem + 2.1vw) !important;
            }

            @media (min-width: 1200px) {
                .fs-3x {
                    font-size: 2rem !important;
                }
            }
        }

        .dz-preview {
            margin: .75rem;

            .dz-remove {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1.65rem;
                width: 1.65rem;
                font-size: 1rem;
                text-indent: -9999px;
                white-space: nowrap;
                position: absolute;
                z-index: 2;
                background-size: 40%;
                background-color: #fff !important;
                box-shadow: 0 .1rem 1rem .25rem rgba(0, 0, 0, .05);
                border-radius: 100%;
                top: -.825rem;
                right: -.825rem;
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent;
                background-image: url("data:image/svg+xml,%3csvg xmlns= 'http://www.w3.org/2000/svg' viewBox= '0 0 16 16' fill= '%23A1A5B7' %3e%3cpath d= 'M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z' /%3e%3c/svg%3e");
            }
        }
    }

    // hiển thị bình luận của người dùng
    .show-comment {

        .avatar-comment {
            width: 40px;
            height: 40px;
            min-height: 40px;
            min-width: 40px;

            img {
                @include coverImage();
            }
        }

        .info-comment {

            .rating {
                font-size: .8rem;
                color: rgb(255, 193, 7);
            }

            .time {
                font-size: .75rem;
            }

            .content {
                .read-more {
                    color: var(--bs-tertiary-color);
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .hide-less {
                    @extend .read-more;
                    display: none;
                }

                #more {
                    display: none;
                }
            }

            .img-comment {
                .box-img {
                    width: 70px;
                    height: 70px;
                    margin-right: .8rem;
                    margin-bottom: .8rem;

                    img {
                        @include coverImage();
                    }
                }
            }


        }
    }

    .text-muted {
        display: none;
    }
}

.selected {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pagination-menu {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;

    .dropdown {
        padding-right: 10px;

        .dropdown-toggle.n {
            border: 1px solid #ced4da;
            border-radius: 8px;
        }

        .btn {
            background-color: white;
            color: #1a1d20;
        }

        .dropdown-item {
            text-decoration: none;
        }
    }

    .page-link {
        color: #1a1d20;
        text-decoration: none;
    }
}

.variation-button {
    position: relative;
    width: 70px; /* Chiều rộng cố định của nút */
    height: 40px; /* Chiều cao cố định của nút */
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    position: absolute;
    right: 1px; /* Điều chỉnh vị trí ngang của biểu tượng */
    top: 22px; /* Điều chỉnh vị trí dọc của biểu tượng */
    color: #007bff; /* Màu của biểu tượng check */
    font-size: 0.7em;
    display: none;
}

.variation-button.selected .check-icon {
    display: inline;
}

/*---------------------
  Featured
-----------------------*/
//.featured__item__pic__hover li {
//    list-style: none;
//    display: inline-block;
//    margin-right: 6px;
//}
//
//.featured__item__pic__hover li:hover button {
//    background: #ad394e;
//    border-color: #ad394e;
//}
//
//.featured__item__pic__hover li:hover button i {
//    color: #ffffff;
//    transform: rotate(360deg);
//}
//
//.featured__item__pic__hover li button {
//    font-size: 16px;
//    color: #ad394e;
//    height: 40px;
//    width: 40px;
//    line-height: 40px;
//    text-align: center;
//    border: 1px solid #ebebeb;
//    background: #ffffff;
//    display: block;
//    border-radius: 50%;
//    -webkit-transition: all, 0.5s;
//    -moz-transition: all, 0.5s;
//    -ms-transition: all, 0.5s;
//    -o-transition: all, 0.5s;
//    transition: all, 0.5s;
//}

//.featured__item__pic__hover li button i {
//    position: relative;
//    transform: rotate(0);
//    -webkit-transition: all, 0.3s;
//    -moz-transition: all, 0.3s;
//    -ms-transition: all, 0.3s;
//    -o-transition: all, 0.3s;
//    transition: all, 0.3s;
//}

//dhasdok

.featured__item__pic__hover {
    list-style: none;
    padding: 0;
    margin: 0;
}


.featured__item__pic__hover li {
    display: inline-block;
    margin-right: 6px;
}


.featured__item__pic__hover li:hover button i {
    color: rgb(255, 255, 255);
    transform: rotate(360deg);
    background: rgb(173, 57, 78);
}

.featured__item__pic__hover li button i {
    font-size: 16px;
    color: #ad394e;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ad394e;
    background: rgb(255, 255, 255);
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.featured__item__pic__hover li button i.text-white {
    background: rgb(173, 57, 78);
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}
