.main {

    // ----- section sale
    .section-sale {
        background-color: #fff;
        border: 1px solid $color-border;
        border-radius: 6px;
        margin-top: 20px;

        .sale-group {
            grid-template-columns: 20% 80%;

            @media screen and (max-width: 1025px) {
                grid-template-columns: 30% 70%;
            }



            @media screen and (max-width: 540px) {
                grid-template-columns: 100%;
            }

            .card {
                padding: 1.25rem;

                @media screen and (max-width: 768px) {
                    padding: .5rem;
                }

                @media screen and (max-width: 540px) {
                    padding: 1rem;

                }

                .box-content {

                    .card-text {
                        @include text(16, $color-icon);
                        margin-bottom: 18px;
                    }
                }

                .box-countdown {

                    .countdown {
                        // display: inline-block;
                        //margin-left: 4px;
                        background-color: #606060;
                        border-radius: 4px;
                        flex-basis: calc(25% - 10px);
                        margin: 0 5px;
                        padding: 5px 0;



                        .value {
                            @include text(16, white);
                            font-weight: bold;
                            text-align: center;
                        }

                        .countdown_label {
                            @include text(12, white);
                            padding-top: 4px;
                            text-align: center;
                        }
                    }
                }






                //.countdown_section:first-child {
                //    margin-left: 0;
                //}




            }

            .sale-item {

                border-left: 1px solid $color-border;
                padding: 1rem;


                @media screen and (max-width: 540px) {
                    border-top: 1px solid $color-border;
                }



                .box-img {
                    height: 140px;
                    overflow: hidden;

                    // text-align: center;
                    // margin-left: auto;
                    // margin-right: auto;
                    img {
                        height: 90%;
                        object-fit: cover;
                    }
                }
            }
        }




    }


    // ----- Block-items-group
    .block-group {
        margin-top: 20px;


        .group {
            grid-template-columns: 20% 80%;
            // grid-template-rows: 100%;
            max-height: 200px;
            overflow: hidden;

            @media screen and (max-width: 768px) {
                grid-template-columns: 30% 70%;
            }

            @media screen and (max-width: 540px) {
                grid-template-columns: 100%;
            }

            .group-item-left {

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @media screen and (max-width: 540px) {
                        display: none;
                    }
                }

                .title {
                    padding: 1.25rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20%;

                    @media screen and (max-width: 768px) {
                        padding: 1rem;
                        width: 25%;

                    }

                    @media screen and (max-width: 540px) {
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;

                    }

                    button {
                        @media screen and (max-width: 768px) {
                            display: none;

                        }
                    }


                }
            }


            .group-item {
                border: 1px solid $color-border;
                height: 90%;
                display: flex !important;
                justify-content: space-between;

                @media screen and (max-width: 540px) {
                    flex-direction: column-reverse;
                    align-items: center;
                }

                .content-item {


                    small {
                        @include text(13, $color-icon);
                    }
                }

                .image-item {
                    width: 50%;
                    height: 100%;

                    @media screen and (max-width: 768px) {
                        width: 60px;
                        height: 60px;
                        margin-top: 30px;

                    }

                    @media screen and (max-width: 540px) {
                        margin-top: 0;
                        margin-bottom: 1rem;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .text-truncate {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }



            }





        }


    }


    // ----- Section-inquiry
    .section-inquiry {
        margin-top: 20px;
        padding: 40px;
        background-image: url("../../image/Mask group.png");
        background-size: cover;

        @media screen and (max-width: 768px) {
            padding: 20px;
        }

        .info-inquiry {

            .inquiry-title {
                margin-bottom: 1rem;

                @media screen and (max-width: 768px) {
                    font-size: 1.5rem;
                }

                @media screen and (max-width: 540px) {
                    font-size: 1.25rem;
                }
            }

        }






    }


    // ----- Section recommended
    .section-recommend {
        margin-top: 30px;


        .product-item {
            flex-basis: calc(20% - 15px);
            margin-bottom: 1.25rem;
            padding: 1rem;
            background-color: white;

            @media screen and (max-width: 1024px) {
                flex-basis: calc(25% - 15px);
            }

            @media screen and (max-width: 768px) {
                flex-basis: calc(100% / 3 - 10px);
                margin-bottom: 1rem;
            }

            @media screen and (max-width: 540px) {
                flex-basis: calc(50% - 5px);
                padding: .5rem;
                margin-bottom: .5rem;
            }

            .box-img {
                height: 13.75rem;
                overflow: hidden;
                margin-bottom: 1rem;

                @media screen and (max-width: 540px) {
                    height: 10rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info-product {
                .price {
                    font-weight: bold;
                }

                .title-product {
                    @include textWidthEllipis(16, 1.5, 2);
                    color: $color-icon;
                }
            }
        }




    }


    // ----- Section-service
    .section-service {
        margin-top: 10px;

        .card {
            @media screen and (max-width: 540px) {
                margin-bottom: .5rem;
            }

            .icon {
                background-color: #D1E7FF;
                // padding: 24px;
                border-radius: 50px;
                width: 55px;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 20px;
                bottom: 50px;
            }
        }


    }


    // ----- Section conutry
    .section-country {
        margin-top: 30px;

        .country-item {
            margin-bottom: .5rem;
            padding-left: .5rem;

            .box-img {
                float: left;
                margin-right: 10px;
                width: 28px;
                height: 20px;

                img {
                    width: 100%;
                    object-fit: cover
                }
            }

            .info-country {


                .text-country {
                    @include text(13, $color-icon);
                }
            }
        }



    }




    // ----- Section subscribe
    .section-subscribe {
        margin-top: 40px;
        width: 100%;
        background-color: #EFF2F4;
        padding: 40px;

        span {
            color: #606060;
        }

        .subscribe-form {
            width: 30%;

            @media screen and (max-width: 540px) {
                width: 90%;
            }
        }

    }



}
